* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('./downtown-2.JPG');
    background-size: cover;
}

a {
    text-decoration: none; 
    color: gray; 
}

.top-nav {
    display: flex;
    gap:40px;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    font-size: 20px;
    color: gray;
    background-color: white;
}

#nav-text:hover {
    color: black;
    font-size: 23px;
    
}

#downtown-img {
    width: 1903px;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 800px;
}

.bottom-nav {
    display: flex;
    gap: 45px;
    justify-content: center;
    color: gray;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#share-icon:hover {
    color: black;
}

#email-icon:hover {
    color: black;
}

#call-icon:hover {
    color: black;
}

.middle-page {
    display: flex;
    gap: 100px;
    justify-content: center;
    color: gray;
    margin-top: 400px;
  
  

}

#service {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    border-radius: 30px;
 
}

#join {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 30px;
}

#estimate {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-right: 10px;
    border-radius: 30px;
}

.button {
    background-color: rgb(235, 239, 240);
    margin-bottom: 10px;
    border-radius: 35px;
}


/* CSS Syntax For Services Page Below */

#trucking-service {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    border-radius: 30px;
 
}

#mechanical-service {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 30px;
}

.middle-service-page {
    display: flex;
    gap: 100px;
    justify-content: center;
    color: gray;
    margin-top: 300px;

}

.ul {
    display: flex;
    text-align: start;
    margin-left: 240px;
    
   
}

.ul-2 {
    display: flex;
    text-align: start;
    margin-left: 280px;
    
   
}

#downtown-img-2 {
    width: 1903px;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 800px;
}
